<div class="container emps-container">
    <h3>
        Employee list!
    </h3>
    <div class="row">
      <div class="form-group col-md-10">
        <input type="text" class="form-control" placeholder="search"  [(ngModel)]="searchText">
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-add" routerLink="/empoloyee/add">Add</button>
      </div>
    </div>
   
    <table class="table" *ngIf="(emps | searchEmp : searchText).length>0 ">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Phone</td>
          <td>City</td>
          <td>Address 1</td>
          <td>Address 2</td>
          <td>Postal Code</td>
          <td>Edit</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of emps | searchEmp : searchText">
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{emp.phone}}</td> 
          <td>{{emp.address.city}}</td>
          <td>{{emp.address.address_line1}}</td>
          <td>{{emp.address.address_line2}}</td>
          <td>{{emp.address.postal_code}}</td>
          <td routerLink="/empoloyee/{{emp.id}}">edit</td>
        </tr>
      </tbody>
  </table>
  <div  *ngIf="(emps | searchEmp : searchText).length===0 ">
    <p>Your search - <span class="text-bold">{{searchText}}</span> did not found</p>
  </div>
</div>


