<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          {{title}}
        </a>
      </div>
      <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">About Us <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div> -->
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<!-- <app-employee-list></app-employee-list> -->

